[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git@github.com:google/googletest.git
[submodule "third_party/cpython"]
	path = third_party/cpython
	url = git@github.com:python/cpython.git
[submodule "third_party/nlohmann"]
	path = third_party/nlohmann
	url = git@github.com:nlohmann/json.git
[submodule "third_party/ApplicationDeployment"]
	path = third_party/ApplicationDeployment
	url = git@github.com:LumosRobotics/ApplicationDeployment.git
